#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.promoRow{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #f3655279;
  padding: 50px;
  margin: 30px -2rem;
}

.promoText{
  color:#ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.myButton{
  background-color: #A5631C;
  text-transform: uppercase;
  border-radius: 3px;
  border:0px;
  color:#ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding : 8px;
}

.promoImg{
  max-height: 200px;
}

.descriptionText{
  padding-top: 50px;
  align-items: center;
  text-align: center;
}

.searchBar{
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #a5631c63;
  padding: 4px 15px;
  font-style: italic;
  color:#ffffff;
}

.icon{
  background-color: transparent;
  color:#A5631C;
  padding : 1px;
  margin-left: 10px;
  border: 0px;
}

.menuDiv{
  display: flex;
  justify-content: space-between;
}

.text{
  border: 0;
  outline: none;
  background-color: transparent;
  color:#ffffff;
  font-style: italic;
  font-size: small;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}